anyio==4.12.1
asgiref==3.11.1
attrs==25.4.0
black==26.1.0
boto3==1.42.59
botocore==1.42.59
click==8.3.1
dj-database-url==3.1.2
Django==5.0.14
django-axes==8.3.1
django-cors-headers==4.9.0
django-environ==0.13.0
django-extensions==4.1
django-filter==25.1
django-jazzmin==3.0.3
django-phonenumber-field==8.4.0
django-redis==6.0.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.15
flake8==7.3.0
gunicorn==21.2.0
h11==0.16.0
httptools==0.7.1
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
isort==8.0.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
pathspec==1.0.4
phonenumbers==9.0.25
pillow==12.1.1
platformdirs==4.9.2
pluggy==1.6.0
psycopg2-binary==2.9.11
py==1.11.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.11.0
pytest==8.4.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0.3
redis==7.2.1
referencing==0.37.0
rpds-py==0.30.0
s3transfer==0.16.0
setuptools==80.10.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.27.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
wheel==0.46.3
whitenoise==6.12.0
